@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

body {
  font-family: "Overpass", sans-serif;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: #131518;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 327px;
  height: 360px;
  border-radius: 15px;
  background: radial-gradient(98.96% 98.96% at 50% 0%, #232a34 0%, #181e27 100%);
  padding: 24px 24px 32px;
}

.star.circle {
  width: 40px;
  height: 40px;
}

.star img {
  width: 14px;
}

.circle {
  width: 42px;
  height: 42px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #262e38;
}

h1 {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 16px 0 10px;
}

p {
  font-size: 14px;
  line-height: 22px;
  color: #969fad;
}

.btns {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}

.btns button {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #7c8798;
}

.btns button.select {
  color: #fff;
  background: #7c8798;
}

.submit-btn {
  width: 279px;
  height: 45px;
  border-radius: 23px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;

  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #fc7614;
}

.modal.center {
  padding: 34px 24px 27px;
  text-align: center;
}

.modal.center img {
  width: 144px;
  margin-bottom: 24px;
}

.rating {
  width: 168px;
  height: 32px;
  background-color: #262e38;
  border-radius: 23px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #fc7614;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  margin: 24px 0 10px;
}

.hidden {
  display: none;
}

@media (min-width: 412px) {
  .modal {
    width: 412px;
    height: 416px;
    border-radius: 30px;
    padding: 32px;
  }

  .star.circle {
    width: 48px;
    height: 48px;
  }

  .star img {
    width: 16px;
  }

  .circle {
    width: 51px;
    height: 51px;
  }

  h1 {
    font-size: 28px;
    line-height: 35px;
    margin: 30px 0 7px;
  }

  p {
    font-size: 15px;
    line-height: 24px;
  }

  .btns {
    margin-bottom: 32px;
  }

  .btns button {
    font-size: 16px;
    line-height: 24px;
    transition: all 500ms;
  }

  .btns button.select {
    color: #fff;
    background-color: #7c8798;
  }

  .btns button:hover {
    cursor: pointer;
    color: #fff;
    background-color: #fc7614;
  }

  .submit-btn {
    width: 341px;
    font-size: 15px;
    line-height: 19px;
    transition: all 500ms;
  }

  .submit-btn:disabled {
    cursor: not-allowed;
  }

  .submit-btn:not(:disabled):hover {
    cursor: pointer;
    color: #fc7614;
    background-color: #fff;
  }

  .modal.center {
    padding: 45px 36px 44px;
    text-align: center;
  }

  .modal.center img {
    width: 162px;
    margin-bottom: 32px;
  }

  .rating {
    width: 193px;
  }

  h2 {
    font-size: 28px;
    line-height: 35px;
    margin: 32px 0 8px;
  }
}
